  GNU nano 6.2                                                           /etc/nginx/sites-available/coachingpromo.in                                                                     
server {
    listen 443 ssl;
    server_name coachingpromo.in www.coachingpromo.in;

    ssl_certificate /etc/letsencrypt/live/coachingpromo.in/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/coachingpromo.in/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;


    rewrite ^/home$ / permanent;
    rewrite ^/search-results$ /search permanent;
    rewrite ^/blogs/new$ /blogs/post permanent;

    rewrite ^/apparel$ /categories/apparel-accessories permanent;
    rewrite ^/promotional-items$ /categories/promotional-items permanent;

    rewrite ^/apparel/polo-t-shirts$ /apparel-accessories/polo-t-shirts permanent;
    rewrite ^/tshirts$ /apparel-accessories/polo-t-shirts permanent;
    rewrite ^/apparel/round-neck-t-shirts$ /apparel-accessories/round-neck-t-shirts permanent;
    rewrite ^/apparel/formal-shirts$ /apparel-accessories/shirts permanent;
    rewrite ^/apparel/corporate-shirts$ /apparel-accessories/shirts permanent;
    rewrite ^/apparel/hoodies-jackets$ /apparel-accessories/hoodies-jackets permanent;
    rewrite ^/apparel/nehru-jacket$ /apparel-accessories/uniform-jackets permanent;
    rewrite ^/apparel/teacher-jacket$ /apparel-accessories/uniform-jackets permanent;
    rewrite ^/apparel/jackets-hoodies/uniform-jackets$ /apparel-accessories/uniform-jackets permanent;
    rewrite ^/apparel/jackets-hoodies/hoodies-jackets$ /apparel-accessories/uniform-jackets permanent;
    rewrite ^/apparel/graduation-hat$ /apparel-accessories/graduation-hat permanent;
    rewrite ^/apparel/graduation-gown$ /apparel-accessories/graduation-gown permanent;
    rewrite ^/apparel/graduation-stole$ /apparel-accessories/graduation-stole permanent;
    rewrite ^/apparel/convocation-sash$ /apparel-accessories/graduation-stole permanent;
    rewrite ^/apparel-accessories/stoles-and-sashes$ /apparel-accessories/graduation-stole permanent;
    rewrite ^/apparel/graduation-wear/convocation-sash$ /apparel-accessories/graduation-stole permanent;
    rewrite ^/apparel/graduation-hood$ /apparel-accessories/graduation-hood permanent;

    location = /apparel/kids-graduation-gown-and-cap { return 410; }

    rewrite ^/bags/institute-backpack$ /bags/institute-backpacks permanent;
    rewrite ^/bags/backpacks$ /bags/institute-backpacks permanent;
    rewrite ^/bags$ /bags/institute-backpacks permanent;
    rewrite ^/bags/backpacks/backpacks-product$ /bags/institute-backpacks permanent;

    rewrite ^/awards/trophy$ /promotional-items/trophy permanent;
    rewrite ^/awards/wooden-trophy$ /promotional-items/wooden-trophy permanent;
    rewrite ^/awards/badges$ /promotional-items/badges permanent;
    rewrite ^/awards/medals$ /promotional-items/medals permanent;

    location = /promotional-items/canopy { return 410; }
    location = /promotional-items/rickshaw-hood { return 410; }
    location = /awards/other-awards { return 410; }
    location = /promotional-items/wristbands { return 410; }
    location = /promotional-items/custom-flashcards { return 410; }
    location = /promotional-items/graduation-accessories { return 410; }
    location = /promotional-items/graduation-honor-cards { return 410; }

    rewrite ^/stationery/file--folder$ /stationery/branding-files-and-folders permanent;
    rewrite ^/stationery/kobra-file$ /stationery/branding-files-and-folders permanent;
    rewrite ^/stationery/paper-file-folder$ /stationery/branding-files-and-folders permanent;
    rewrite ^/stationery/notebooks-pads/notebook$ /stationery/notebook permanent;

    rewrite ^/stationery/metal-pen$ /stationery/customized-pens permanent;
    rewrite ^/stationery/plastic-pen$ /stationery/customized-pens permanent;

    location = /stationery/pencils { return 410; }
    location = /stationery/erasers { return 410; }
    location = /stationery/highlighters { return 410; }
    location = /stationery/markers { return 410; }
    location = /categories { return 410; }


    location / {
        proxy_pass http://localhost:5000;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_cache_bypass $http_upgrade;
    }
}