:root {
  --brand-blue: #0b4a8d;
  --brand-orange: #ff8c00;
  --neutral-gray: #555;
  --light-border: #e4e4e4;
  --light-bg: #fafafa;
}

/* Section */
.blogcta-section {
  width: 100%;
  padding: 0;
  background: #fff;
  display: flex;
  justify-content: center;
}

.blogcta-wrapper {
  width: 90%;
  max-width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;
  align-items: center;
}

/* Left Image */
.blogcta-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blogcta-img {
  width: 90%;
  height: auto;
  object-fit: contain;
}

/* Right Form */
.blogcta-right {
  background: var(--brand-blue);
  padding: 40px;
  height: 87%;
  color: #fff;
}

.blogcta-title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 8px;
}

.blogcta-subtitle {
  font-size: 17px;
  color: #e7e7e7;
  margin-bottom: 50px;
  line-height: 1.5;
  text-align: center;
}

/* Form grid fields */
.blogform-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.blogform-grid input {
  background: var(--light-bg);
  border: 1px solid var(--light-border);
  padding: 16px;
  font-family: "Outfit", sans-serif;
  font-size: 17px;
  color: var(--neutral-gray);
}

/* Textarea */
.blogcta-form textarea {
  width: 94%;
  background: var(--light-bg);
  border: 1px solid var(--light-border);
  margin-top: 14px;
  padding: 16px;
  font-size: 17px;
  font-family: "Outfit", sans-serif;
  color: var(--neutral-gray);
  resize: vertical;
}

.blogcta-file-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#blogcta-file {
  display: none; /* hide original input */
}

.blogcta-file-label {
  display: inline-block;
  background: var(--brand-orange);
  color: #fff;
  padding: 10px 16px;
  cursor: pointer;
  margin-top: 20px;
  font-weight: 600;
  font-size: 15px;
  width: fit-content;
  transition: 0.3s;
}

.blogcta-file-label:hover {
  background: transparent;
  border: 0.5px solid var(--brand-orange);
}

.blogcta-file-name {
  font-size: 14px;
  color: #fff;
}

/* Button */
.blogcta-btn {
  margin-top: 26px;
  width: 50%;
  background: var(--brand-orange);
  color: #fff;
  font-weight: 600;
  border: none;
  padding: 15px 0;
  font-size: 18px;
  font-family: "Outfit", sans-serif;
  gap: 10px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
  margin-left: auto;
  margin-right: auto;
}

.blogcta-btn:hover {
  opacity: 0.85;
}

