:root {
  --brand-blue: #0b4a8d;
  --brand-orange: #d17504;
  --neutral-gray: #555;
  --light-border: #e4e4e4;
  --light-bg: #fafafa;
}

/* SECTION */
.blg-list-container {
  width: 90%;
  max-width: 80%;
  margin: 60px auto;
}

/* HEADER */
.blg-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

.blg-list-title {
  font-size: 32px;
  font-weight: 700;
  color: var(--brand-blue);
}

/* CREATE BUTTON */
.blg-create-button {
  padding: 10px 16px;
  background: var(--brand-orange);
  color: #fff;
  
  font-size: 16px;
  text-decoration: none;
  font-family: 'outfit', sans-serif;
  font-weight: 500;
  transition: all 0.3s ease;
}

.blg-create-button:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}

/* GRID */
.blg-list-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  gap: 25px;
}

/* blg CARD */
.blg-card {
  background: #fff;
  border: 1px solid var(--light-border);
  
  overflow: hidden;
  transition: all 0.25s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: flex-start ;
}

.blg-card:hover {
  /* transform: translateY(-6px); */
  box-shadow: 0 10px 25px #0000001a;
}

/* MEDIA */
.blg-card-media {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

/* INFO */
.blg-card-content {
  padding: 18px;
  color: #333;
}

/* META */
.blg-card-meta {
  display: flex;
  gap: 10px;
  font-size: 14px;
  color: var(--neutral-gray);
  margin: 0 18px 10px 18px;
}

.blg-card-author {
  color: var(--brand-blue);
  font-weight: 500;
}

.blg-card-date {
  color: var(--neutral-gray);
}

/* TITLE */
.blg-card-title {
  font-size: 19px;
  font-weight: 600;
  color: #222;
  line-height: 1.4;
  margin: 18px;
}

/* READ MORE */
.blg-readmore-link {
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  display: flex;
  align-items: left;
  justify-content: center;
  color: var(--brand-orange);
  margin: 10px 18px 18px;
  transition: color 0.3s ease;
 
}

.blg-readmore-link:hover {
  color: var(--brand-blue);
}

/* PAGINATION */
.blg-pagination {
  margin: 40px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

.blg-pagination-btn {
  padding:  14px;
  border: 1px solid var(--brand-blue);
  background: white;
  color: var(--brand-blue);
  font-size: 15px;
  font-family: 'Outfit', sans-serif;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.25s ease;
}

.blg-pagination-btn:hover {
  background: var(--brand-blue);
  color: white;
}

.blg-pagination-btn.active {
  background: var(--brand-blue);
  color: #fff;
}

.blg-pagination-btn:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
