:root {
  --brand-blue: #0b4a8d;
  --brand-orange: #ff8c00;
  --neutral-gray: #555;
  --light-border: #e4e4e4;
  --light-bg: #fafafa;
}

.catalogue-cta {
  width: 80%;
  margin: 0 auto;
  padding: 0px 0;
  background: #fff;
  display: flex;
  justify-content: center;
}

.cta-wrapper {
  width: 100%;
  max-width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px;
  align-items: center;
}

/* Left Image */
.cta-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cta-img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

/* Right Form Section */
.cta-right {
  background: var(--brand-blue);
  height: 75%;
  padding: 40px;
  width: 100%;
  color: #fff;
}

.cta-title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 8px;
}

.cta-subtitle {
  font-size: 17px;
  margin-bottom: 25px;
  text-align: center;
  color: #e7e7e7;
  margin-bottom: 60px;
}

/* 2-column form grid */
.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.form-grid input {
  background: var(--light-bg);
  border: 1px solid var(--light-border);
  padding: 18px;
  font-family: 'Outfit', sans-serif;
  font-size: 17px;
  color: var(--neutral-gray);
}

/* CTA Button */
.cta-btn {
  margin-top: 22px;
  width: 50%;
  background: var(--brand-orange);
  color: #fff;
  font-weight: 600;
  border: none;
  padding: 15px 0;
  font-family: 'outfit', sans-serif;
  font-size: 18px;
  gap: 10px;
  display: flex;
  margin: 60px auto 20px;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}

.cta-btn:hover {
  opacity: 0.85;
}

/* Mobile Responsive */
@media (max-width: 900px) {
  .cta-wrapper {
    grid-template-columns: 1fr;
  }

  .form-grid {
    grid-template-columns: 1fr;
  }
}
