.footer-wrapper {
    background: #ffffff;
    border-top: 1px solid var(--light-border);
    font-family: "Outfit", sans-serif;
    color: var(--neutral-gray);
   
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 40px;
    padding: 50px 6%;
    max-width: 80%;
    margin: 0 auto;
}

.footer-wrapper > .footer-col:nth-child(2) {
    padding: 0 6% 50px 6%;
}

.footer-heading {
    margin-bottom: 14px;
    font-size: 18px;
    font-weight: 600;
    color: var(--brand-blue);
}

.footer-logo {
    height: 70px;
    object-fit: contain;
    margin-bottom: 14px;
}

.footer-text {
    font-size: 15px;
    line-height: 1.6;
    color: #444;
    max-width: 320px;
}

.footer-col ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-col li {
    margin: 6px 0;
}

.footer-col a {
    text-decoration: none;
    color: var(--neutral-gray);
    font-size: 15px;
    transition: 0.3s;
}

.footer-col a:hover {
    color: var(--brand-orange);
    padding-left: 4px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 6px 0;
    font-size: 15px;
    color: #444;
}

.social-icons-1 {
    display: flex;
    gap: 12px;
    margin-top: 14px;
}

.social-icons-1 a {
    display: flex;
    width: 32px;
    height: 32px;
    background: var(--brand-blue);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    transition: 0.25s ease;
}

.social-icons-1 a:hover {
    background: var(--brand-orange);
    color: #fff;
}

.partners-logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
}

.partner-logo-box {
    display: flex;
    align-items: center;
    background: #fafafa;
    padding: 8px 10px;
    border: 1px solid var(--light-border);
    border-radius: 8px;
    width: 100px;
    transition: 0.3s ease;
}

.partner-logo-box:hover {
    /* transform: translateY(-3px); */
    border-color: var(--brand-orange);
}

.partner-logo-box img {
    width: 100%;
    object-fit: contain;
}

.footer-bottom {
    background: var(--brand-blue);
    text-align: center;
    padding: 12px;
}

.footer-bottom p {
    color: #fff;
    margin: 0;
    font-size: 14px;
}

@media (max-width: 950px) {
    .footer-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    
    .footer-wrapper > .footer-col:nth-child(2) {
        padding: 0 6% 30px 6%;
    }
}

@media (max-width: 600px) {
    .footer-container {
        grid-template-columns: 1fr;
        gap: 30px;
    }
    .footer-wrapper > .footer-col:nth-child(2) {
        padding: 0 6% 30px 6%;
    }
    .footer-text {
        max-width: 100%; 
    }
    .partners-logos {
        align-items: center;
    }
    .partner-logo-box {
         margin: 0 auto; 
    }
}
